div.no-touch-warning
{
	width: 500px;
	margin: -75px 0 0 -250px;
	height: 150px;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	padding: 10px;
}

#toolbar
{
	background: #ddd;
	height: 45px;
	padding: 5px 10px;
	width: 100%;
	position: fixed;
	top: 0;
	box-shadow: 0px 1px 7px rgba(0,0,0,0.8);
}
#toolbar .file-name:before {
	content: 'File: ';
}

#toolbar .file-name {
	display: inline-block;
	float: right;
	font-size: 1.5em;
}

#drawContainer
{
	background: url('../img/graphy.png') repeat;
	margin-top: 45px;
}

#drawContainer > canvas
{
	background: #bbb;
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .icons {
        background-image: url('../graphy_@2X.png');
        background-size: 80px 160px;
    }
}